@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //Responsável por carregar a engine de criação do Google Chart
        google.load('visualization', '1.0', { 'packages': ['corechart'] });
        $(document).ready(function() {
        

            getBestSellingProducts();
            //Esse método é responsável por chamar o API que retornará os dados 
            //em formato JSON
            function getBestSellingProducts()
            {
                $.ajax({
                    url: '/api/ProductApi/GetBestSellingProducts',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        drawChartCallBack(data);
                    },
                    error: function () {
                        alert('Erro ao carregar o Google Chart');
                    }
                });
            }
        
            // Método responsável por carregar todas as informações no gráfico.
            function drawChartCallBack(arrayBestSellingProducts) {
                
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Produto');
                data.addColumn('number', 'Quantidade');

                for (i = 0; i < arrayBestSellingProducts.length; i++)
                {
                    data.addRow([arrayBestSellingProducts[i].Product.Name,
                        arrayBestSellingProducts[i].Quantity]);
                }

                // Opções do gráfico
                var options = {
                    'title': 'Produtos mais vendidos - www.slipmp.com',
                    'width': 740,
                    'height': 400
                };

                // Instancia o gráfico à partir de elementos na página.
                // No caso será redenrizado em um elemento chamado 
                // divGoogleChart que por sua vez é uma div.
                var chart = new google.visualization.PieChart
                    (document.getElementById('divGoogleChart'));

                chart.draw(data, options);
            }

        });


</script>

}

<div id="divGoogleChart" style="border:2px solid #ccc;width:740px;" ></div>
