<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-2.1.1.js"></script>

    @RenderSection("Scripts", required: false)
    <style>
        body {
            font-family: verdana;
        }
    </style>
</head>



<body>
    
    <div style="padding:30px;">
        <h2>C# + ASP.NET MVC + Web API + Gráfico - Google Chart</h2>

        @RenderBody()
    </div>
</body>


</html>
